
encryption_passphrase: "{{ borg_encryption_key }}"

compression: zstd

# Command to use instead of just "ssh". This can be used to specify ssh options.
ssh_command: ssh -p {{ borg_ssh_port }} -i /root/.ssh/borgmatic-{{ ansible_hostname }}