#!/bin/bash

config_file=$1
repo=$2
error=$3
output=$4

admin_email={{ admin_email }}

/usr/sbin/sendmail $admin_email <<EOF
subject: Backup failed for node $HOSTNAME
from: {{ admin_email }}

Backup failed for node $HOSTNAME

Config: "$config_file"
Repository: "$repo"

Error message:
"$error"

Command output:
"$output"


EOF
