# Complete config file, not in use!
# Its split into fragments to allow service specific configs to include system specific options

location:
    # List of source directories to backup (required). Globs and tildes are expanded.
    source_directories:
        - /data

    repositories:
        - {{ borg_user }}@{{ borg_host }}:{{ ansible_fqdn }}

storage:
    # Passphrase to unlock the encryption key with. Only use on repositories that were
    # initialized with passphrase/repokey encryption. Quote the value if it contains
    # punctuation, so it parses correctly. And backslash any quote or backslash
    # literals as well.
    encryption_passphrase: "{{ borg_encryption_key }}"

    compression: zstd

    # Command to use instead of just "ssh". This can be used to specify ssh options.
    ssh_command: ssh -i /root/.ssh/borgmatic-{{ ansible_hostname }}

retention:
    keep_daily: 7
    keep_weekly: 4
    keep_monthly: 3

hooks:
    # List of one or more shell commands or scripts to execute before creating a backup.
    before_backup:
        - echo "`date` - Starting a backup job."
        - systemctl stop docker

    # List of one or more shell commands or scripts to execute after creating a backup.
    after_backup:
        - echo "`date` - Backup created."
        - systemctl start docker

    # List of one or more shell commands or scripts to execute in case an exception has occurred.
    #on_error:
    #    - echo "`date` - Error while creating a backup."
